{% extends "layout.html" %}
{% block main %}
<div class="container">
    <div class="product-banner" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnaO4KlysHI3zbBvsdYfZcKiDTTYQbeeLJiUCixiy3pAB6vaSyQIiJoeUSKxzs7boEEJI&usqp=CAU')">
        <h2 style="color:black">Login</h2>   
      </div>
      {% if invalid_credentials %}
      <div class="h4 text-danger">Username or password incorrect</div>
      {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_div}}
        <input type="submit">
    </form>
</div>
{% endblock main %}  